extends layout

block styles
  link(rel='stylesheet', href='/dist/css/legal.min.css')

block content
  a(class='home-link', href='/')= 'Home'
  div(class='policy')
      span(class='title em')= 'TERMS OF USE'
      br
      i Last revised on: 8/16/2017
      br
      br
      span Welcome to Friendability, operated by independent developer Michael Johnson and team. (“us,” “we,” the “Company” or “Friendability”).
      ol
        span(class='em')
          li Acceptance of Terms of Use Agreement.
        span By creating a Friendability account or by using the Friendability service in any way, whether through a mobile device, mobile application or computer (collectively, the “Service”) you agree to be bound by (i) these Terms of Use, (ii) and Privacy Policy, each of which is incorporated by reference into this Agreement, and (iii) any terms disclosed and agreed to by you if you purchase additional features, products or services we offer on the Service (collectively, this “Agreement”). If you do not accept and agree to be bound by all of the terms of this Agreement, do not use the Service. We are not responsible for any negative outcomes experienced by any individual as a result of using the Service.
        br 
        br
        span We may make changes to this Agreement and to the Services from time to time. We may do this for a variety of reasons including to reflect changes in or requirements of the law, new features, or changes in business practices. The most recent version of this Agreement will be posted on the Services page at thefriendability.com, and you should regularly check for the most recent version. The most recent version is the version that applies. If the changes include material changes that affect your rights or obligations, we will notify you in advance of the changes by reasonable means, which could include notification through the Services or via email. If you continue to use the Services after the changes become effective, then you agree to the revised Agreement.
        br
        br
        span(class='em')
          li Eligibility.
        span You must be at least 18 years of age to create an account or utilize the Service in any way. By creating an account and using the Service, you represent and warrant that:
        ul
          li you can form a binding contract with Friendability,
          li you have never been convicted of a felony and that you are not required to register as a sex offender with any state, federal or local sex offender registry.
          li you are not a person who is barred from using the Service under the laws of the United States or any other applicable jurisdiction–meaning that you do not appear on the U.S. Treasury Department’s list of Specially Designated Nationals or face any other similar prohibition,
          li you will comply with this Agreement and all applicable local, state, national and international laws, rules and regulations, and ...
        br
        span(class='em')
          li Your Account.
        span In order to use Friendability, you must provide an email, password, answer personality questions, and provide your name. You are solely responsible for all information you provide on the app and fully accept its potential consequences if it were to be shared publicly (including messages on the Service, as well as your location while using the Service). We are not responsible for any negative outcomes experienced by any individual as a result of using the Service. We are not responsible for information that is leaked via hacking or other means. While we will do all in our power to protect your information, there is always some risk associated with any internet service. By using this service, you agree that all information associated with your account is your responsibility, and could potentially be accessed by anyone in the event of a security breach. While we believe this is unlikely, it is a possibility that must be accounted for. By using this service you grant us ultimate jurisdiction and say over the use of this information. Don’t freak out though, see our 
          a(href='/privacy-policy')
            span(class='em')= 'Privacy Policy'
          span —we don’t plan to do anything potentially personally identifying or harmful with your information. For more information regarding the information we collect from you and how we use it, please consult our 
          a(href='privacy-policy')
            span(class='em')= 'Privacy Policy'
            span .
        br
        br
        span You are responsible for maintaining the confidentiality of your login credentials you use to sign up for Friendability, and you are solely responsible for all activities that occur under those credentials. If you think someone has gained access to your account, please immediately contact 
          a(href='mailto:help@thefriendability.com')
            span(class='em')= 'help@thefriendability.com'
            span .
        br 
        br
        span(class='em')
          li Modifying the Services and Termination.
        span Friendability is always striving to improve the Services and bring you additional functionality that you will find engaging and useful. This means we may add new product features or enhancements from time to time as well as remove some features. We may not provide you with notice before making changes to the app. We may, at anytime, shutdown the Services entirely as we see fit. However, we will try and give timely notice of termination.
        br
        br
        span You may terminate your account at any time, for any reason, by doing so on the options page of the Service. Please note, however, that you will need to manage any payment disputes with your service provider (Apple App Store, Android Store, etc). Friendability may terminate your account at any time, without notice for any reason. Upon such termination, you will not be entitled to any refund for purchases. 
        br
        br
        span(class='em')
          li Safety; Your Interactions with Other Users.
        span We are not responsible for the conduct of any user on or off of the Services. You agree to use caution in all interactions with other users, particularly if you decide to communicate off the Service or meet in person. You should not provide your financial information (for example, your credit card or bank account information), or wire or otherwise send money, to other users.
        br
        br
        span YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH OTHER USERS. YOU UNDERSTAND THAT FRIENDABILITY DOES NOT CONDUCT CRIMINAL BACKGROUND CHECKS ON ITS USERS OR OTHERWISE INQUIRE INTO THE BACKGROUND OF ITS USERS. FRIENDABILITY MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS. FRIENDABILITY RESERVES THE RIGHT TO CONDUCT ANY CRIMINAL BACKGROUND CHECK OR OTHER SCREENINGS (SUCH AS SEX OFFENDER REGISTER SEARCHES) AT ANY TIME USING AVAILABLE PUBLIC RECORDS.
        br
        br
        span(class='em')
          li Rights Friendability Grants You.
        span Friendability grants you a personal, worldwide, royalty-free, non-assignable, nonexclusive, revocable, and non-sublicensable license to access and use the Services. This license is for the sole purpose of letting you use and enjoy the Services’ benefits as intended by Friendability and permitted by this Agreement. Therefore, you agree not to:
        ul 
          li use the Service or any content contained in the Service for any commercial purposes without our written consent.
          li copy, modify, transmit, create any derivative works from, make use of, or reproduce in any way any copyrighted material, images, trademarks, trade names, service marks, or other intellectual property, content or proprietary information accessible through the Service without Friendability’s prior written consent.
          li express or imply that any statements you make are endorsed by Friendability.
          li use any robot, bot, spider, crawler, scraper, site search/retrieval application, proxy or other manual or automatic device, method or process to access, retrieve, index, “data mine,” or in any way reproduce or circumvent the navigational structure or presentation of the Service or its contents.
          li use the Services in any way that could interfere with, disrupt or negatively affect the Service or the servers or networks connected to the Service.
          li upload viruses or other malicious code or otherwise compromise the security of the Services.
          li forge headers or otherwise manipulate identifiers in order to disguise the origin of any information transmitted to or through the Service.
          li use meta tags or code or other devices containing any reference to the Service to direct any person to any other website for any purpose.
          li modify, adapt, sublicense, translate, sell, reverse engineer, decipher, decompile or otherwise disassemble any portion of the Service, or cause others to do so.
          li use or develop any third-party applications that interact with the Services or other users’ Content or information without our written consent.
          li use, access, or publish the Friendability application programming interface without our written consent.
          li probe, scan or test the vulnerability of our Services or any system or network.
          li encourage or promote any activity that violates this Agreement.
        br
        span We may investigate and take any available legal action in response to illegal and/ or unauthorized uses of the Service, including termination of your account.
        br
        span Any software that we provide you may automatically download and install upgrades, updates, or other new features. You may be able to adjust these automatic downloads through your device’s settings.
        br 
        br
        span(class='em')
          li Rights you Grant Friendability.
        span By creating an account, you grant to Friendability a worldwide, transferable, sub-licensable, royalty-free, right and license to host, store, use, copy, display, reproduce, adapt, edit, publish, modify and distribute any information you provide or transmit. You agree that any Content you place on the Service may be used for both academic and business research purposes.
        br 
        br
        span You agree that all information that you submit upon creation of your account is accurate and truthful and you have the right to post the Content on the Service and grant the license to Friendability above.
        br
        br
        span You understand and agree that we may monitor or review any Content you post as part of a Service. We may delete any Content, in whole or in part, that in our sole judgment violates this Agreement or may harm the reputation of the Service.
        br
        br
        span When communicating with our customer care representatives, you agree to be respectful and kind. If we feel that your behavior towards any of our customer care representatives or other employees is at any time threatening or offensive, we reserve the right to immediately terminate your account.
        br
        br
        span In consideration for Friendability allowing you to use the Services, you agree that we, our affiliates, and our third-party partners may place advertising on the Services. By submitting answers to questions on the Service, you agree that Friendability may use, sell, and share such feedback for any purpose without compensating you.
        span You agree that Friendability may access, preserve and disclose your account information and Content if required to do so by law or in a good faith belief that such access, preservation or disclosure is reasonably necessary, such as to: (i) comply with legal process; (ii) enforce this Agreement; (iii) respond to claims that any Content violates the rights of third parties; (iv) respond to your requests for customer service; or (v) protect the rights, property or personal safety of the Company or any other person.
        br
        br
        span(class='em')
          li Community Rules.
        span By using the Services, you agree that you will not:
        ul 
          li use the Service for any purpose that is illegal or prohibited by this Agreement.
          li spam, solicit money from or defraud any users.
          li impersonate any person or entity or post any images of another person without his or her permission.
          li bully, “stalk,” intimidate, harass or defame any person.
          li post any Content that violates or infringes anyone’s rights, including rights of publicity, privacy, copyright, trademark or other intellectual property or contract right.
          li post any Content that is hate speech, threatening, sexually explicit or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.
          li post any Content that promotes racism, bigotry, hatred or physical harm of any kind against any group or individual.
          li solicit passwords for any purpose, or personal identifying information for commercial or unlawful purposes from other users or disseminate another person’s personal information without his or her permission.
          li use another user’s account.
          li create another account if we have already terminated your account, unless you have our permission.
        br
        span Friendability reserves the right to investigate and/ or terminate your account without a refund of any purchases if you have misused the Service or behaved in a way that Friendability regards as inappropriate or unlawful, including actions or communications that occur off the Service but involve users you meet through the Service.
        br
        br
        span(class='em')
          li Other Users’ Content.
        span Although Friendability reserves the right to review and remove Content that violates this Agreement, such Content is the sole responsibility of the user who posts it, and Friendability cannot guarantee that all Content will comply with this Agreement. If you see Content on the Services that violates this Agreement, please report it via <a href="mailto:help@thefriendability.com">span(class='em')help@thefriendability.com</a>.
        br
        br
        span(class='em')
          li Purchases.
        span(class='em')= 'In App Purchases.'
        span Friendability offers “points” for purchase (“in app purchases”) through iTunes, Google Play or other application platforms authorized by Friendability (each, a “Software Store”). If you choose to make an in app purchase, you will be prompted to enter details for your account with your Software Store (“your IAP Account”), and your IAP Account will be charged for the in app purchase in accordance with the terms disclosed to you at the time of purchase as well as the general terms for in app purchases that apply to your IAP Account. Some Software Stores may charge you sales tax, depending on where you live.
        br
        br
        span The points balance shown in your account does not constitute a real-world balance or reflect any real-life monetary value. Friendability may manage, regulate, control, modify or eliminate points at any time for any reason. Friendability shall have no liability to you or any third party in the event that Friendability exercises any such rights. Points may only be redeemed through the Service. ALL PURCHASES AND REDEMPTIONS OF POINTS MADE THROUGH THE SERVICE ARE FINAL AND NON-REFUNDABLE. The provision of points for use in the Service is a service provided by Friendability that commences immediately upon the acceptance of your purchase. YOU ACKNOWLEDGE THAT FRIENDABILITY IS NOT REQUIRED TO PROVIDE A REFUND FOR ANY REASON, AND THAT YOU WILL NOT RECEIVE MONEY OR OTHER COMPENSATION FOR UNUSED POINTS WHEN AN ACCOUNT IS CLOSED, WHETHER SUCH CLOSURE WAS VOLUNTARY OR INVOLUNTARY.
        br
        br
        span(class='em')= 'Refunds.'
        span Generally, all charges for purchases are nonrefundable, and there are no refunds or credits for partially used points. We may make an exception if the laws applicable in your jurisdiction provide for refunds.
        br
        br
        span Purchases of points are FINAL AND NON-REFUNDABLE.
        br
        br
        span(class='em')= 'To request a refund:'
        span To request a refund, go to iTunes, click on your Apple ID, select “Purchase history,” find the transaction and hit “Report Problem”. You can also submit a request at <a href="https://getsupport.apple.com">https://getsupport.apple.com</a>.
        br
        br
        span(class='em')
          li Notice and Procedure for Making Claims of Copyright Infringement.
        span If you believe that your work has been copied and posted on the Service in a way that constitutes copyright infringement, please provide us with the following information:
        ul 
          li an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;
          li a description of the copyrighted work that you claim has been infringed;
          li a description of where the material that you claim is infringing is located on the Service (and such description must be reasonably sufficient to enable us to find the alleged infringing material);
          li your contact information, including address, telephone number and email address;
          li a written statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and
          li a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.
        br
        span Notice of claims of copyright infringement should be provided to <a href="mailto:help@thefriendability.com">span(class='em')help@thefriendability.com</a>.
        span Friendability will terminate the accounts of repeat infringers.
        br
        br
        span(class='em')
          li Disclaimers.
        span FRIENDABILITY PROVIDES THE SERVICE ON AN “AS IS” AND “AS AVAILABLE” BASIS AND TO THE EXTENT PERMITTED BY APPLICABLE LAW, GRANTS NO WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE WITH RESPECT TO THE SERVICE (INCLUDING ALL CONTENT CONTAINED THEREIN), INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF SATISFACTORY QUALITY, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. FRIENDABILITY DOES NOT REPRESENT OR WARRANT THAT (A) THE SERVICE WILL BE UNINTERRUPTED, SECURE OR ERROR FREE, (B) ANY DEFECTS OR ERRORS IN THE SERVICE WILL BE CORRECTED, OR (C) THAT ANY CONTENT OR INFORMATION YOU OBTAIN ON OR THROUGH THE SERVICES WILL BE ACCURATE.
        br
        br
        span FRIENDABILITY TAKES NO RESPONSIBILITY FOR ANY CONTENT THAT YOU OR ANOTHER USER OR THIRD PARTY POSTS, SENDS OR RECEIVES THROUGH THE SERVICES. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS ACCESSED AT YOUR OWN DISCRETION AND RISK.
        br
        br
        span(class='em')
          li Third Party Services.
        span The Service may contain advertisements and promotions offered by third parties and links to other web sites or resources. Friendability is not responsible for the availability (or lack of availability) of such external websites or resources. If you choose to interact with the third parties made available through our Service, such party’s terms will govern their relationship with you. Friendability is not responsible or liable for such third parties’ terms or actions.
        br
        br
        span(class='em')
          li Limitation of Liability.
        span TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL FRIENDABILITY, ITS AFFILIATES, EMPLOYEES, LICENSORS OR SERVICE PROVIDERS BE LIABLE FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING, WITHOUT LIMITATION, LOSS OF PROFITS, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM: (I) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES, (II) THE CONDUCT OR CONTENT OF OTHER USERS OR THIRD PARTIES ON, THROUGH, OR FOLLOWING USE OF THE SERVICES; OR (III) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR CONTENT, EVEN IF FRIENDABILITY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT WILL FRIENDABILITY’S AGGREGATE LIABILITY TO YOU FOR ALL CLAIMS RELATING TO THE SERVICE EXCEED THE AMOUNT PAID, IF ANY, BY YOU TO FRIENDABILITY FOR THE SERVICE WHILE YOU HAVE AN ACCOUNT.
        br
        br
        span SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES, SO SOME OR ALL OF THE EXCLUSIONS AND LIMITATIONS IN THIS SECTION MAY NOT APPLY TO YOU.
        br
        br
        span(class='em')
          li Arbitration, Class-Action Waiver, and Jury Waiver.
        span Except for users residing within the EU or European Economic Area and elsewhere where prohibited by applicable law:
        ol
          li The exclusive means of resolving any dispute or claim arising out of or relating to this Agreement (including any alleged breach thereof) or the Service shall be BINDING ARBITRATION administered by the American Arbitration Association under the Consumer Arbitration Rules. The one exception to the exclusivity of arbitration is that you have the right to bring an individual claim against the Company in a small-claims court of competent jurisdiction. But whether you choose arbitration or small-claims court, you may not under any circumstances commence or maintain against the Company any class action, class arbitration, or other representative action or proceeding.
          li By using the Service in any manner, you agree to the above arbitration agreement. In doing so, YOU GIVE UP YOUR RIGHT TO GO TO COURT to assert or defend any claims between you and the Company (except for matters that may be taken to small-claims court). YOU ALSO GIVE UP YOUR RIGHT TO PARTICIPATE IN A CLASS ACTION OR OTHER CLASS PROCEEDING. Your rights will be determined by a NEUTRAL ARBITRATOR, NOT A JUDGE OR JURY, and the arbitrator shall determine all issues regarding the arbitrability of the dispute. You are entitled to a fair hearing before the arbitrator. The arbitrator can grant any relief that a court can, but you should note that arbitration proceedings are usually simpler and more streamlined than trials and other judicial proceedings. Decisions by the arbitrator are enforceable in court and may be overturned by a court only for very limited reasons.
        br
        span(class='em')
          li Indemnity by You.
        span You agree, to the extent permitted under applicable law, to indemnify, defend and hold harmless Friendability, our affiliates, and their and our respective officers, directors, agents, and employees from and against any and all complaints, demands, claims, damages, losses, costs, liabilities and expenses, including attorney’s fees, due to, arising out of, or relating in any way to your access to or use of the Services, your Content, or your breach of this Agreement.
        br
        br
        span(class='em')
          li Entire Agreement; Other.
        span This Agreement, with the Privacy Policy and any terms disclosed and agreed to by you if you purchase additional features, products or services we offer on the Service, contains the entire agreement between you and Friendability regarding the use of the Service. If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect. The failure of the Company to exercise or enforce any right or provision of this Agreement shall not constitute a waiver of such right or provision. You agree that your Friendability account is non-transferable and all of your rights to your account and its Content terminate upon your death. No agency, partnership, joint venture or employment is created as a result of this Agreement and you may not make any representations or bind Friendability in any manner.